.mainDiv {
  position: relative;
  text-align: center;

  .image {
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 2em;
  }

  .textContainer {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .text {
    margin: 2em 3em 0 3em;
    font-size: 1.6em;
    line-height: 1.5em;

    .name {
      font-size: 1.7em;
      margin-left: 5px;
      color: #8c3fab;
    }
  }
}
